.projectCardContainer {
  position: relative;
  border-radius: 10px;

  .imageContainer {
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      height: 100px;
    }

    @media (max-width: 576px) {
      height: 200px;
    }

    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      background-color: rgba($color: #000000, $alpha: 0.6);
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;

      .zoomIcon {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100000px;
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(45deg) scale(0);
        box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.1);

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      .overlay {
        opacity: 1;

        .zoomIcon {
          transform: rotate(0) scale(1);
        }
      }
    }
  }

  .techIcon {
    padding: 10px;
    border-radius: 100000px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
