.navbarContainer {
  user-select: none;
  -webkit-user-select: none;

  .active {
    color: #2ec4b6 !important;
    font-weight: bold !important;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      font-weight: bold !important;
      color: #2ec4b6 !important;
    }

    .activeCircle {
      position: absolute;
      bottom: -7.5px;
      height: 15px;
      width: 15px;
      border-radius: 10000px;
      background-color: #2ec4b6;
    }
  }

  .changeThemeButton {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: end;

    .icon {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      border-top: 1px solid lightgrey;
    }
  }

  .navbarTogglerButton {
    border: none;
    box-shadow: none !important;
  }
}
